body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}


.container {
	max-width: 1408px;
	margin-left: auto;
	margin-right: auto;
}

.fw {
	font-weight: bold;
}


/*======== Header ===========*/

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 0;
}

.header-menu {
	display: flex;
	padding: 0;
}

.header-menu li {
	list-style: none;
}
.header-menu li a{
	padding: 24px;
	text-decoration: none;
	color: #000;
	font-size: 20px;
}

.banner img {
	max-width: 100%;
}
.btn-menu {
	display: none;
	height: 52px;
	width: 130px;
	color: #000;
	font-size: 20px;
	background-color: transparent;
	cursor: pointer;
}

/*============ main ==========*/
.main {
	/*padding: 64px 0;*/
}
.main-row {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	padding-top: 64px;
}
.main-img img {
	max-width: 100%;
}
.main-title {
	font-size: 48px;
	margin: 0 30% 0 0;
}

.main-desc {
	font-size: 20px;
	margin: 36px 0 32px 0;
}

.btn {
	height: 63px;
	width: 236px;
	background-color: #E0B973;
	color: #fff;
	font-size: 20px;
	border-radius: 6px;
	border: none;
	cursor: pointer;
}

/*======Footer ========*/

.footer {
	background-color: #132F66;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 18px 0;
	margin-top: 64px;
}

.form {
	margin-right: 30px;
}
.form__input {
	height: 52px;
	width: 280px;
	padding-left: 25px;
	border: 1px solid #E0B973;
	border-radius: 3px;
	background-color: transparent;
	outline: none;
	margin-right: 15px;
	color: #fff;
	font-size: 20px;
}

::placeholder {
	font-size: 20px;
	color: #fff;
}

.form__btn {
	height: 52px;
	width: 80px;
	background-color: #E0B973;
	color: #fff;
	border-radius: 3px;
	border: none;
}

.footer-logo {
	margin-left: 15px;
}
.footer-logo img {
	background-color: #fff;
}

/*=========Icon=======*/
.fa-solid {
	margin-right: 5px;
}