


@media (max-width: 1280px) {
	.main-item {
		padding: 0 16px;
	}

}

@media (max-width: 1024px) {
	
}

@media (max-width: 768px) {
	.header {
		margin: 0 12px;
	}

	.main-row {
		grid-template-columns: 1fr;
	}
	.main-info {
		margin: 0 8px;
	}
	.main-img {
		text-align: center;
	}
	.header-menu {
		display: none;
	}
	.btn-menu {
		display: block;
	}

}

@media (max-width: 640px) {
	.footer {
		display: block;
	}
	.form {
		text-align: left;
		margin-left: 15px;
	}
}