body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}


.container {
	max-width: 1408px;
	margin-left: auto;
	margin-right: auto;
}

/*============Header ==========*/
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 14px 0;
}
.header-section {
	display: flex;
	align-items: center;
}

.header-menu {
	display: flex;
}

.header-menu li {
	list-style: none;
}
.header-menu li a {
	padding: 5px 12px;
	text-decoration: none;
	color: #000000;
}

.header-menu li a:hover {
	text-decoration: underline;
	color: blue;
}

.btn-register {
	height: 47px;
	width: 187px;
	color: #000;
	font-size: 20px;
	background-color: transparent;
	cursor: pointer;
}


/*=======Main========*/
.main {
	padding: 65px 0;
}
.main-row {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 24px;
}
.main-item {
	padding-right: 10px;
}
.main-item__info {
	text-align: center;
}
.main-item__title {
	font-size: 24px;
}
.main-item__desc {
	font-size: 20px;
}
.main-item__menu {
	padding: 20px;
}
.main-item__menu li a{
	text-decoration: none;
	color: #000;
	line-height: 26px;
}

/*=========Footer =========*/

.footer {
	background-color: #021A34;
	height: 100px;
	display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-text {
	color: #fff;
	padding-left: 25px;
}

.form__input {
	height: 48px;
	width: 282px;
	background-color: transparent;	
	color: #fff;
	border: 1px solid #FFA800;
	border-radius: 3px;
	outline: none;
	padding-left: 15px;
}

::placeholder {
	color: #fff;
}

.form__btn {
	height: 52px;
	width: 120px;
	border-radius: 3px;
	background-color: #FFA800;
	color: #fff;
}